/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
.jumbotron{
    margin-top: -35px;
}
.image{
  height: 50px;
  width: 50px;
}
.list-image {
  height: 30px;
  width: 30px;
}
.map-image {
  width: 95%;
}
.vertical-img-nav {
  margin-top: -100px;
}
.vertical-img-nav li{
  display: inline;
}
.my-header{
  margin-top: -40px;
  margin-left: 50%;
}
.now{
  margin-top: 20px;
  margin-left: 50%;
}
.badge{
  background-color: darkorange;
}
.list-group-item {
  text-align: center;
}
.list-group-item:hover {
  cursor: pointer;
}
.blockquote {
  text-align: justify;
}