    <h1>Welcome Component</h1>
    <p>Here I plan on having a greeting and 
        an introduction for what the 
        site does.</p> 
    <div class="well well-lg">  <!-- jokeOfTheDay -->
        <blockquote> {{ jokeOfTheDay }}</blockquote>
        <button class="btn btn-success" (click)="getJoke()">
            Joke
            <span class="glyphicon glyphicon-share-alt"></span>
            </button>
        <span class="badge pull-right">
            the Joke Corner
        </span>
    </div>