<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/welcome" routerLinkActive="active">APInn</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/flights" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span>  Flug</a></li>
        <li><a routerLink="/concerts" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span>  Tónleikar</a></li>
        <li><a routerLink="/earthquakes" routerLinkActive="active"><span class="glyphicon glyphicon-indent-left"></span>  Jarðskjálftar</a></li> 
        <li><a routerLink="/weather" routerLinkActive="active"><span class="glyphicon glyphicon-cloud"></span>  Veður</a></li>
        <li><a routerLink="/petrol" routerLinkActive="active"><span class="glyphicon glyphicon-tint"></span>  Eldsneyti</a></li>
        <li><a routerLink="/currency" routerLinkActive="active"><span class="glyphicon glyphicon-usd"></span>  Gengi</a></li>
        <li><a routerLink="/countries" routerLinkActive="active"><span class="glyphicon glyphicon-globe"></span>  Lönd</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/concerts" routerLinkActive="active"><span class="glyphicon glyphicon-question-sign"></span></a></li>
      </ul>
    </div>
  </div>
</nav>