<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/welcome" routerLinkActive="active">myAPI</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/flights" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span>  Flights</a></li>
       
        <li><a routerLink="/concerts" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span>  Concerts</a></li>

        <li><a routerLink="/earthquakes" routerLinkActive="active"><span class="glyphicon glyphicon-indent-left"></span>  Earthquakes</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/concerts" routerLinkActive="active"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>

      </ul>
    </div>
  </div>
</nav>